body {
    font-family: Roboto;
    background-color: #071826;
    color: #D9D0D0;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

.upper {
    position: sticky;
    top: 1rem;
    margin-top: 1rem;
}

.header {
    margin: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 2rem;
}

#budget-select {
    display: flex;
    justify-content: flex-end;
    border-color: #C09AD9;
    color: #C09AD9;
    background-color: transparent;
}

.chart-wrapper {
    background-color: #071826;
    border-bottom: 1px solid #596273;
}

.burndown {
    position: relative;
    margin: 0 1rem;
}

#transactions-list {
    display: grid;
    grid-gap: 0.5rem;
    border-bottom: 1px solid #596273;
    padding-bottom: 0.5rem;
}

.transaction {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0.5rem 1rem 0rem 1rem;
}

#transactions-list .transaction:not(:first-child) {
    border-top: 1px solid #596273;
}

.transaction-details {text-align: right;display: grid;}

.transaction-title {
    font-size: 1.25rem;
    line-height: 2rem;
}

.transaction-amount {
    color: #C09AD9;
}

.transaction-date {
    font-size: 0.75rem;
    color: #596273;
}